.CE-Editor {
	position: relative
}
.CE-Editor-uploader {
	background-image: url(/images/46c14dc9717dba581bb17d01e55672e4.png);
	background-repeat: no-repeat;
	background-position: center
}
.CE-Editor-uploader,.CE-Editor-uploader-input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0
}
.CE-Editor-uploader-input {
	display: block;
	opacity: 0;
	outline: 0
}
.CE-Editor-overlay {
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.5)
}
.CE-Canvas {
	position: relative;
	overflow: hidden;
	border: none;
	box-sizing: border-box
}
.CE-Canvas-image,.CE-Quality {
	position: absolute;
	left: 0;
	top: 0
}
.CE-Quality {
	padding: 10px;
	background: gray;
	z-index: 1;
	pointer-events: none;
	background-color: #455055;
	border-radius: 50px;
	color: #fff
}
.CE-Quality-danger {
	background-color: #e60012
}
.CE-Quality-icon {
	letter-spacing: 2px
}
.CE-Hide {
	display: none;
}
.clearfix: after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	line-height: 0;
	content: ''
}
.clearfix {
	zoom: 1
}
.fl {
	float: left
}
.fr {
	float: right
}
img {
	display: block;
	height: 100%;
	width: 100%
}
.advert .previews {
	/*height: 445px;*/
	overflow: hidden
}
.advert .preview {
	border: thin #fff;
	background-color: #f2f2f2;
	height: 150px
}
.advert .preview img {
	max-width: 200px;
	margin: -20px auto
}
.advert .main-img {
	height: 100%;
	padding: 20px 0;
	text-align: center
}
.advert .main-img img {
	max-width: 640px
}
.advert .side-img {
	margin-top: 2%
}
.advert .left-side {
	width: 49%;
	padding: 20px 0
}
.advert .btn{
	color: #fff;
	width: 49%;
	border: none;
	height: 50px; 
	line-height: 50px;
	margin-top: 2%;
	font-size: 1.1em;
}
.advert .download_btn {
	background-color: #4f6a85;
}
.advert .share_btn {
	background-color: #49be91;
}
.advert .btn.disabled,.advert .btn:disabled,.advert .btn[disabled] {
	color: #FFFFFF;
	background-color: #CCCCCC
}